:root {
    /*--blue: #54A0FF;*/
    --blue: #295F98;
    /*--blue: #0A1A31;*/
    --dark_blue: #0A1A31;
    /*--dark_blue: #295F98;*/
    --white: #ffffff;
    --cream: #EAE4DD;
    --wcream: #FDFBF9;
}

html {
  background-color: #ffffff;
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  overscroll-behavior: none;
  width: 100%;
}

body {
  font-family: 'EB Garamond', serif !important;
  background-color: var(--dark_blue) /*#333c40*/ !important; /*#444*/
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow:auto  !important;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

#outer {
  background-color: var(--dark_blue) /*#333c40*/ !important; /*#444*/
  margin: 0;
  padding: 0;
}

/* Link colors */
a:link {
    color: var(--blue);
}
a:visited {
    color: var(--blue);
}
a:hover {
    color: var(--blue) !important;
}
a:active {
    color: var(--blue);
}

.footer-text {
  font-size: 0.8rem;
  font-weight: lighter;
  text-decoration: none;
  margin-top: 10px !important;
  text-align: center;
  color: #eae4dd !important;
}
#footer-name {
  text-decoration: none;
  color: inherit;
}
.about-text p {
  font-size: 1.2rem;
}

.about-headshot-mobile {
  max-width: 60%;
}

.title-name {
    font-size: 2.1em;
    line-height: 90%;
    font-weight:500;
  /*color: var(--dark_blue) !important;*/
    padding-bottom: 0.3em;
}
.title-email {
  font-size: 1.2rem;
}
.title-small{
  font-size: 1.1rem;
}

.info-text {
  /*background-color: #f2f2f2;*/
}


.drop-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Style font awesome */
.fa {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}


.news-title {
  font-size: 1.3rem;
}

.expandable-list ul {
  list-style-type:none;
  margin-left: 1em;
  padding-left: 0;
  margin-bottom: 0;
}

.expandable-list .extra-item {
  display: none;
}

.news-date {
  /* color: var(--blue); */
  display: inline-block;
  font-weight: 500;
  inline-size: 4em;
}

.news-line{
    padding-bottom: 0.3em;
}

.news-entry {
  /*font-size: 1.3rem;*/
}

.news-expand-button {
  cursor: pointer;
  text-align: center;
  margin-left: 1em;
  color: var(--blue);
}


/* Content summaries */

.content-header {
  margin-bottom: 0px;
  border-bottom-style: solid;
  border-width: 2px;
  text-align: left;
}

.content-header col {
  padding-right: 0px;
}

.content-header p {
  font-weight: bold;
  font-size: 2.0rem;
  margin-bottom: 0px;
  margin-right: 0px;
}

.content-header-linebreak {
  height: 30px;
  margin-bottom: 15px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.publication-title {
  /* font-variant: small-caps; */
  font-family: 'Alegreya', serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.publication-authors{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.2rem;
}


.publication-code {
  /*display: none;*/
}

.publication-page {
  /*display: none;*/
}

.publication-poster {
  /*display: none;*/
}

.publication-slides {
  /*display: none;*/
}
.publication-venue {
  margin-bottom: 0;
  font-style: italic;
  font-size: 1.2rem;
}

.badge-button {
  font-size: 1rem !important;
  color: var(--blue) !important;
  padding: 3px !important;
  text-decoration: none !important;

}

.sep {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.pub-links {
  margin-bottom: 0.7em;
}

.badge-button:hover {
}


.authors-list {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.2em;
  text-align: center;
  align: center;
}

.plain-link {
  color: #000000 !important;
  text-decoration: underline !important;
}

.publication-bibtext {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.8em;
}
.extras {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.2em;
  text-align: center;
  align: center;
  color: var(--blue);
  font-weight: bolder;
}
.hover {
  text-decoration: none;
}


.code-area {
  background-color: #f7f7f7; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 4px; /* Rounded corners */
  overflow: auto; /* Horizontal scrolling for long lines */
  white-space: pre-line; /* Ensures that data is preformatted and wraps */
  word-wrap: break-word; /* Breaks long words */
  overflow: auto;
  width: 600px;
}

.card {
    border-radius: 1em;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    background-color: var(--wcream) !important;
    padding-top: 6em !important;
}

#news{
    background-color: #CDC2A578;
    margin-top: 3em;
    border-radius: 1em;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    font-size: 1.2em !important;
}


#main{
    padding-top: 60px;
    /*overflow:auto  !important;*/

}

#portrait, #portrait-mobile {
    border-radius: 1em;
    /* add shadow */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.fancy-button {
  position: relative;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  overflow: hidden;
  transition: color 0.3s ease; /* Smooth transition of text color */
  font-size: 1.2em !important;
}

.fancy-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%; /* Start from the center */
  width: 0;
  height: 2px; /* Thickness of the underline */
  background-color: var(--blue); /* Color of the underline */
  transition: width 0.3s ease, left 0.3s ease; /* Animate both width and left */
  transform: translateX(-50%); /* Keep the underline centered */
}

.fancy-button:hover::after {
    width: 100%; /* Full width of the button */
    left: 50%; /* Keep the left property at 50% so it grows from the center */
    transform: translateX(-50%); /* Ensure it's centered */
}

.fancy-button:hover {
    color: var(--blue);
}

.nav-link {
    font-size: large !important;

}

#publications {
  scroll-margin-top: 0.5em;
  padding-top: 5em;
}
.my-pub{
  /*box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}

.navbar{
  /*color: #CDC2A5*/
  backdrop-filter: blur(10px) !important;
  /*background-color: rgb(246, 246, 246) !important;*/
  background-color: rgba(255, 255, 255, 0.4) !important;
  -webkit-backdrop-filter: blur(10px);
  /*margin-top: 1px;*/
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  margin: 0 !important;

}

/*.navbar-nav {*/
.nav-link {
    font-size: 1.4em !important;
}

.navbar-brand {
    font-size: 1.4em !important;
}

.publication-bibtext {
    margin-bottom: 1em !important;
  /*overflow: hidden;*/
  /*width: 500px;*/
}
.pup_bibtext {
  margin-bottom: 0 !important;
  /*float: left;*/
}
.news_venue {
  color: var(--dark_blue);
}

.news_oral {
    color: var(--dark_blue);
    font-style: italic !important;

}


.ext-links {
  transition: transform 0.3s ease;
  /*box-shadow: 0 32px 9px -8px rgba(0, 0, 0, 0.3);*/
}

.ext-links:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 27px 9px -11px rgba(0, 0, 0, 0.3);

}

.wrapper {
		padding: 2em 0 2em 0;
        border-radius: 0.3em;
        margin-top: 3em !important;
        margin-bottom: 3em !important;
        background-attachment: fixed;
        background-image: url("/images/syvota.jpg");
        background-position: center center;
        background-size: cover;
}

.wrapper header.major {
    margin-bottom: 3em;
}
.content-header.photo {
    color: #ffffff !important;
    padding: 0;
}

@media (max-width: 767.98px) {
    .wrapper {
        padding: 2em 0 2em 0;
        background-image: url('/images/syvota_mini.jpg');
    }
  }


.contact_block {
    margin-top: 1em;
}
.contact_el {
    margin-left: 0 !important;
    padding: 0 !important;
}
.contact_el a {
    margin-left: 0 !important;
    padding: 0 !important;
}
.contact_subtitle {
    margin-top: 1em !important;
}
.contact_subtitle strong{
    padding: 0 !important;
}

.contact_col{
    margin-top: 1em !important;
    margin-bottom: 2em !important;
    padding: 0 !important;
}
.location_details {
    list-style-type: none;
    padding-left: 1em !important;

}

.map-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.responsive-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}